{% extends 'base.html' %}

{% block title %}
Notes list
{% endblock %}

{% block content %}
<h1>Użytkownik: {{ user }}</h1>
<div class="button-row">
<form method="GET" action="{% url 'notes_list' %}">
    <input type="text" name="q" value="{% if query %}{{ query }}{% else %}{% endif %}" placeholder="Wyszukaj...">
    <button type="submit">Szukaj</button>
</form>
</div>
<ul>
    {% for note in notes %}
    <li><a href="{% url 'edit_note' note.id %}">{{ note.content }}</a></li>
    {% empty %}
    <li>no notes.</li>
    {% endfor %}
</ul>

<div class="button-row">
<a href="{% url 'new_note' %}"><button>Dodaj nową notatkę</button></a>

<form method="post">
    {% csrf_token %}
    <button type="submit" name="logout">Wyloguj</button>
</form>
</div>
{% endblock %}





